article {
	display: grid;
	grid-template-columns: 28% 30%;
	width: 70rem;
	margin: auto;
	color: hsl(14, 90%, 44%);
	;
}
.left {
	margin-top: 5rem;
	grid-column: 1;
	border: .5rem solid hsl(14, 90%, 44%);
}

.right {
	padding: 1rem;
	margin-top: 5rem;
	grid-column: 2;
	background-color: hsl(62, 82.6%, 82%)
}