article {
	background-color: hsl(14, 90%, 44%);
	border-radius: 2rem;
	display: grid;
	grid-template-columns: 28% 30%;
	width: 45rem;
	height: 29rem;
	display: flex;
	margin: auto;
	color: hsl(14, 90%, 44%);
	margin-top: 5rem;
}

.left {
	grid-column: 1;
	border: .5rem solid hsl(14, 90%, 44%);
	border-radius: 1.1rem
}

.right {
	padding: 1rem;
	grid-column: 2;
	background-color: hsl(62, 82.6%, 82%);
}

.overview-details,
.movie-title-detail,
.date-detail,
.vote-detail {
	font-family: 'Raleway', sans-serif;
}