header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: $header-font;
  font-size: 2rem;
  color: $header-color;
  margin-left: 1rem;
}

.link-wrapper {
  font-family: $link-font;
  margin-right: 1rem;
  margin-top: 1rem;
  display: flex;
}

a.nav {
  color: $link-color;
  font-size: 1.3rem;
  text-decoration: none;
  margin: .8rem;
  &:hover {
    color: $link-hover-color;
  }
}