
.movie-overview {
  color: $overview-color;
}

.card {
  margin: 1rem;
  max-width: 19rem;
  border-radius: 2rem;
  opacity: 1;
}

img {
  opacity: 0.9;
  border-radius: 1rem;
}

img:hover {
  opacity: 1;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.04);
  transform: rotate(2deg);
  transition: all ease-in-out .3s;
  height: 20rem;
}

.fav-btn {
  background-color: transparent;
  border: .1rem solid $header-color;
  font-family: $fave-btn-font;
  color: $header-color;
  margin-top: 1rem;
  border-radius: .8rem;
  font-size: 1.6rem;
  cursor: pointer;
  width: 17.8rem;
  height: 3rem;
  &:hover {
    background-color: $header-color;
    color: $link-hover-color;
    border: none;
  }
}

.login-msg {
  color: $login-msg-error-color;
  font-family: $login-error-color;
  font-size: 1.5rem;
}

.toggle-msg {
  font-size: 2rem;
  margin: 0;
}



