@import url('https://fonts.googleapis.com/css?family=Raleway');

$header-font: 'Raleway', sans-serif;
$link-font: 'Raleway', sans-serif;


$header-color: hsl(48, 99%, 64%);
$link-color: hsl(48, 63%, 67%);
$link-hover-color: hsl(14, 90%, 44%);