@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

//fonts

$header-font: 'Permanent Marker', cursive;;
$link-font: 'Raleway', sans-serif;
$movie-title-font: 'Raleway', sans-serif;

//colors

$header-color: hsl(48, 99%, 64%);
$link-color: hsl(48, 75%, 51%);
$link-hover-color: hsl(14, 90%, 44%);
$signin-color: hsl(14, 90%, 44%);
$overview-color: hsl(61, 90%, 70%);
$movie-title-color: hsl(4, 93%, 45%);
$signin-bkgrd: hsl(62, 82.6%, 82%);
$login-bkgrd: hsl(14, 90%, 44%);
$login-header-color: hsl(62, 82.6%, 82%);
$submit-bkgrd-hover: hsl(14, 90%, 44%);
$submit-button-hover: hsl(61, 90%, 70%);
$error-msg-color: hsl(0, 100%, 50%);
$submit-border: hsl(14, 90%, 44%);
$submit-color: hsl(14, 90%, 44%);
$create-header-bkgrd: hsl(14, 90%, 44%);
$create-header-color: hsl(62, 82.6%, 82%);
$submit-hover-signup: hsl(14, 90%, 44%);
$signup-error-color: hsl(0, 100%, 50%);

