@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

$header-font: 'Permanent Marker', cursive;;
$link-font: 'Raleway', sans-serif;
$movie-title-font: 'Raleway', sans-serif;


$header-color: hsl(48, 99%, 64%);
$link-color: hsl(48, 63%, 67%);
$link-hover-color: hsl(14, 90%, 44%);