@import './containers/MovieContainer/MovieContainer.scss';

body, html {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('./theater.jpg');
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
}