@import '_variables';
@import './components/Header/_Header.scss';
@import './containers/MovieContainer/_MovieContainer.scss';
@import './components/Movie/_Movie.scss';
@import './containers/Login/_Login.scss';
@import './containers/Signup/_Signup.scss';

body, html {
  background: linear-gradient( rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82) ), url('./theater-seats.jpg');
  background-size: 100%;
  background-position: center;
}